.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: -1;
}

.green {
    background-color: #AAD751;

    &Dark {
        background-color: #A2D149;
    }

}